body {
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
}

@font-face {
  font-family: "Shrikhand" "sans-serif";
  src: url(Shrikhand-regular.otf) format(otf);
}
@keyframes display-loader {
  0%, 99% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes header {
  0%, 99% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
/*animation carte menu*/
@keyframes icon-slide {
  0% {
    transform: translateX(-50px);
  }
}
@keyframes price-slide {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}
@keyframes icon_cercle {
  0% {
    transform: scale(1) rotate(0deg);
    animation-duration: 2s;
  }
  100% {
    transform: scale(1) rotate(360deg);
    animation-duration: 2s;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.header p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #adaaaa;
}

/*.logo{
  @include primary-font;
  display: flex;
  justify-content: center;
  flex-direction: column;
}*/
header {
  display: flex;
}

.img-logo {
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  background-color: #f6f6f6;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  font-family: Shrikhand, sans-serif;
  padding: 10px;
}

h4 {
  align-self: end;
  margin: 22px;
  margin-bottom: 7px;
  font-weight: 400;
  font-family: roboto, sans-serif;
}

.entrees {
  border-bottom: 3px solid #99e2d0;
}

.plat {
  border-bottom: 3px solid #99e2d0;
}

.dessert {
  border-bottom: 3px solid #99e2d0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.carte {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #f6f6f6;
  width: 95%;
  align-items: center;
}

.menu-choix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: white;
  width: 95%;
  position: relative;
  cursor: pointer;
  padding-right: 0px;
  padding-top: 5px;
  margin: 20px 0px;
  overflow: hidden;
  border: none;
}
.menu-choix .animation_price {
  opacity: 0;
  position: absolute;
}

.menu-choix:hover .animation_price {
  width: 100px;
  background-color: #99e2d0;
  opacity: 1;
  animation: icon-slide 2000ms ease-in;
  right: 0;
  height: 100%;
  animation-direction: reverse;
}

.menu_choix_plat_noms {
  font-weight: bold;
  font-size: 15px;
  font-family: Roboto, sans-serif;
}

.menu__button {
  background-color: #9356dc;
  color: #f6f6f6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: none;
  margin-left: 85px;
  height: 30px;
}

.menu__choix_plat {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 5px;
  text-align: start;
  width: 68%;
  padding-left: 5px;
}

.menu__choix_plat_prix {
  display: flex;
  width: 5%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
  font-weight: bold;
}

.menu-choix:hover .menu__choix_plat_prix {
  display: flex;
  width: 18%;
  justify-content: flex-end;
  align-items: center;
  height: 67px;
  /* align-self: flex-end;
   align-items: flex-end;*/
  background: white;
  border: 1px solid transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  visibility: visible;
  animation: price-slide 800ms ease-out;
}
.menu-choix:hover .menu__choix_plat_prix .menu__carte_enregistrement {
  visibility: visible;
}

.menu__carte_enregistrement {
  display: flex;
  width: 100px;
  justify-content: flex-end;
  height: 100%;
  align-self: flex-end;
  align-items: flex-end;
  background: #99e2d0;
  border: 1px solid transparent;
  border-top-right-radius: 19%;
  border-bottom-right-radius: 20%;
  visibility: hidden;
}

.cercle {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 40px;
  color: white;
  animation: icon_cercle 3s ease-in-out;
}

/*images*/
.img-alafrancaise {
  background-image: url(../images/restaurants/alafrancaise.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: column;
}

.img-palette {
  background-image: url(../images/restaurants/lapalettedugout.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: column;
}

.img-noteenchantee {
  background-image: url(../images/restaurants/lanoteenchantee.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: column;
}

.img-ledelicedessens {
  background-image: url(../images/restaurants/ledelicedessens.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: column;
}

.footer {
  margin-top: 50px;
}

.footer-container {
  background-color: #353535;
}
.footer-container .container {
  max-width: 1300px;
  margin: auto;
}
.footer-container .container ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  font-family: Roboto, sans-serif;
}

.footer__ul--a {
  color: #f6f6f6;
}

.footer__h2 {
  color: #f6f6f6;
  margin: 15px;
  padding: 10px;
  font-family: shrikhand, sans-serif;
  font-size: 20px;
}

@media (max-width: 1300px) {
  .menu__button {
    width: 30%;
  }

  .menu-choix {
    height: 70px;
  }
}
@media (max-width: 481px) {
  .resto_h2 {
    padding-top: 50px;
    margin: 50px 0px 15px 20px;
  }

  .header_explorer {
    width: 45%;
  }

  .header p {
    font-size: 20px;
  }

  .header_titre {
    font-size: 31px;
    font-family: "roboto", "sans-sherif";
  }
}
/*intro*/
.loading {
  z-index: -1;
  animation: display-loader 3000s ease-in-out;
  width: 100%;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  background: #f6f6f6;
}
.intro .ville {
  background-color: #dbd9d9;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.intro .ville i {
  margin-right: 15px;
}

.intro p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 21px;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "roboto", "sans-sherif";
  font-size: 35px;
}

.retour {
  width: 20%;
  margin: 10px;
  display: flex;
  align-items: center;
}

.button {
  background: linear-gradient(#9356dc, 5%, #ff79da);
  color: #f6f6f6;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  border: none;
  margin-right: 25px;
  margin-left: 25px;
  height: 40px;
  cursor: pointer;
}

/*manual*/
.manual {
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.manual .manual-card {
  border-radius: #f6f6f6 solid 15px;
  background-color: #f6f6f6;
  border: #f2f2f2 2px solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  width: 90%;
  margin-bottom: 15px;
  margin-left: 20px;
}
.manual .manual-card .number {
  margin-right: 15px;
  border: solid 2px #9356dc;
  border-radius: 50%;
  background: #9356dc;
  font-size: 18px;
  color: white;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
}

.manual-card:hover {
  background-color: #e8e3f0;
}
.manual-card:hover .icone:hover {
  color: #9356dc;
}

.manual-text {
  font-weight: bold;
  font-family: "roboto";
  margin-left: 20px;
}

.manual h2 {
  padding-left: 15px;
}

/*cards*/
a {
  color: #353535;
  text-decoration: none;
}

.heart {
  background: none;
  border: none;
  cursor: pointer;
}
.heart:hover .heart_icon {
  animation: heart-down 800ms ease-in-out;
}
.heart:hover .heart_icon_hover {
  z-index: 1;
  opacity: 1;
  animation: heart-up 800ms ease-in-out;
}
.heart .heart_icon {
  font-size: 20px;
  position: absolute;
  z-index: 1;
}
.heart .heart_icon_hover {
  font-size: 20px;
  position: relative;
  z-index: -1;
  opacity: 0;
  background-color: #da71da;
  -webkit-background-clip: text;
  color: transparent;
}

.cards {
  background: #f6f6f6;
  padding: 20px;
}

.resto-title {
  margin: 10px;
}

.resto_1_card {
  border: 1px solid white;
  width: 98%;
  border-radius: 25px;
  background-color: white;
  margin-bottom: 25px;
  justify-content: space-between;
  cursor: pointer;
  height: 265px;
}

.nom_resto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nom_resto p {
  margin: 5px;
}

h3 {
  margin: 0px;
}

.resto_h2 {
  padding-left: 25px;
  margin: 25px 0px 15px 0px;
}

.resto_news {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #99e2d0;
  color: #58a492;
  width: 20%;
  margin: 15px;
  border-radius: 7px;
}

.icone {
  margin: 15px;
  display: flex;
  color: lightslategray;
}

/*.far{
  display: flex;
  justify-content: flex-end;
  margin: -25px;
  margin-right: 45px;
  border: none;
  align-self: flex-end;
  font-size: 25px;
}
.fa-heart:hover {
  background:linear-gradient($color-primary,25%,$color-secondary);
}
*/
/*images*/
.resto_image-acceuil-palette {
  background-image: url(../images/restaurants/lapalettedugout.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.resto_image-acceuil-noteenchantee {
  background-image: url(../images/restaurants/lanoteenchantee.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.resto_image-acceuil-alafrancaise {
  background-image: url(../images/restaurants/alafrancaise.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.resto_image-acceuil-ledelicedessens {
  background-image: url(../images/restaurants/ledelicedessens.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

/*# sourceMappingURL=style.css.map */
