.loading{
    z-index: -1;
    animation: display-loader 3000s ease-in-out;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

@keyframes display-loader{
    0%, 99%{
        opacity: 1;
        z-index: 2;
    }
    100%{
        opacity: 0;
        z-index: 1;
    }
}

@-webkit-keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);transform: rotate(0deg);
    }
    100%{
         -webkit-transform: rotate(360deg);transform: rotate(360deg);}
  }
  
  
  @keyframes spin{
    0%{
        -webkit-transform: rotate(0deg); transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);transform: rotate(360deg);}
  
  }