

@keyframes slideLeftcarte{
  100%{
    transform: translateX(-50px);
    
  }
}

@keyframes iconslideLeftcarte{
  0%{
    transform: translateX(80px);
}
}


@keyframes slideLeft{
  100%{
    transform: translateX(-70px);
    -webkit-transform: translateX(-70px);
    -moz-transform: translateX(-70px);
    -ms-transform: translateX(-70px);
    -o-transform: translateX(-70px);
}
}

@keyframes iconslideLeft{
  0%{
    transform: translateX(60px);
   
  }
}


@keyframes iconrotate{
  0%{
    transform: rotate(360deg);
    
}
}
@keyframes load-spinner {
  0% {
    visibility: hidden;
    opacity: 0;
    background: $color-secondary;
  }
  5% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity :0;
  }
}

@keyframes spin{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
  }

 

/*animation carte menu*/


@keyframes icon-slide{
    0%{
      transform: translateX(-50px);
      
    }
    100%{
      transform: translateX(50px);
     
  }
    
}
  
  @keyframes price-slide{
    0%{
      transform: translateX(50px);
    }
    
    100%{
      transform: translateX(-50px);
      
    }
  }
  
  @keyframes icon_cercle{
    0%{
     transform: rotate(0deg);
     animation-duration: 3s;
}
  
    100%{
    transform: rotate(360deg);
    animation-duration: 3s;
}
  }


  /*animation menu*/

  
  @keyframes open-menu{
    0%{
        visibility: visible;
        opacity: 0;
    }
    50%{
      visibility: visible;
      opacity: 0.5;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}



