.footer{
    margin-top: 50px;
  }
  
  
  .footer-container{ 
    background-color: #353535;
    .container
    {
      max-width: 1300px;
      margin: auto;
  
      ul{
        list-style-type: none;
        margin: 10px;
        padding: 10px;
        font-family: Roboto,sans-serif;
      }
    }
  }
    
  .footer__ul--a{
    color: $background-carte;
  }
  .footer__h2{
    color: $background-carte;
    margin: 15px;
    padding: 10px;
    font-family: shrikhand, sans-serif;
    font-size: 20px;
}