@import "variables.scss";
@import "reset.scss";
@import "font.scss";
@import "animation.scss";
@import "header.scss";
@import "mixin.scss";
@import "pages.scss";
@import "footer.scss";
@import "media.scss";


html{
  display: flex;
  justify-content: center;
}

*{
  font-family: 'Roboto';
}

.contenant{
  justify-content: center;
  max-width: 950px;
  flex-direction: column;
  display: flex;
  align-self: center;
  margin: auto;
}

.loading-spinner {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 40px;
  background:$color-primary;
  visibility: hidden;
  animation: load-spinner 3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-animation: load-spinner 3s ease;
}
.loader{
  width: 50px;
  height: 50px;
  display: flex;
  justify-self: center;
  align-items: center;
  vertical-align: middle;
  position: relative;
  margin: 30px;
  }
    .loader-container:after {
      position: absolute;
      content: "";
      top: -6px;
      left: -6px;
      bottom: -6px;
      right: -6px;
      border-radius: 50px;
      border: 6px solid $color-tertiary;
      border-top-color:#fff ;
      animation: spin 5s;
}
/*intro*/

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  background: $background-carte;
  width: 100%;

  .ville{
    background-color: #dbd9d9;
    box-shadow: inset 0px 3px 4px -2px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 16px;
    i {
      margin-right: 15px;
    }
  }
}

.intro p{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 55%;
}

h1{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'shrikhand','sans-sherif';
  width: 50%;
  font-size: 18px;
}

.retour{
  width: 20%;
  margin: 10px;
  display: flex;
  align-items: center;
}



.button{
  background:linear-gradient($color-primary,5%,$color-secondary);
  color: $background-carte;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border:none;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  }

  .button:hover{
    opacity: 1;
    box-shadow: 5px 5px 5px 1px rgba(0,0,255, .2);

  }

  .h2_manual{
    font-family: Roboto,sans-serif;
    font-size: 25px;
    margin-bottom: 0px;
    padding-left: 37px;
    padding-bottom: 15px;
  }
/*manual*/

.manual{
  padding: 0px;
  background-color: white;
    .manual-card{
    border-radius: $background-carte solid 15px ;
    background-color: $background-carte;
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
    font-family: Roboto,sans-serif;
    box-shadow: 5px 5px 5px rgb(214, 214, 214);
    padding-right: 5px;
    .number{
      margin-right: 15px;
      border: solid 2px $color-primary;
      border-radius: 50%;
      background:$color-primary;
      font-size: 17px;
      color: white;
      width: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -10px;
      font-family: roboto,sans-serif;
    }

  }

}

.manual-card:hover{
  background-color:#e4d3ff;
  .icone:hover{
    color: $color-primary;
  }
}

.manual-text{
  font-weight: bold;
  font-family: 'roboto';
  width: 70%;
  display: flex;

}

/*cards*/

.heart{
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px;
  &:hover .heart_icon{
      animation: heart-down 800ms ease-in-out ;
      -webkit-animation: heart-down 800ms ease-in-out ;
}
  &:hover .heart_icon_hover{
      z-index: 1;
      opacity: 1;
      animation: heart-up 800ms ease-in-out;
      -webkit-animation: heart-up 800ms ease-in-out;
}
  .heart_icon{
      position: absolute;
      z-index: 1;
      font-size: 20px;
  }

  .heart_icon_hover{
      font-size: 20px;
      position: relative;
      z-index: -1;
      opacity: 0;
      background-color: #da71da;
      -webkit-background-clip: text;
      color: transparent;
      transition: 0.5s;
  }
}

a{
  color: $color-footer;
  text-decoration: none;
  width: 35%;
}



.cards{
  background:$background-carte;
  width: 100%;
  
}


.resto-title{
  font-size: 15px;
  font-family: 'roboto',sans-serif
}

.resto_1_card{
  border: 1px solid white;
  width: 90%;
  border-radius: 25px;
  background-color: white;
  margin-bottom: 25px;
  justify-content: center;
  cursor: pointer;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}
.nom_resto{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px;
  
  p{
    margin: 5px 0px;
    font-size: 15px;
  }
}

h3{
  margin: 0px;
}

.resto_h2{
  margin: 25px 0px 0px;
  background: $background-carte;
  padding-left: 50px;
}

.resto_news{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color:$color-tertiary;
  color: lightseagreen;
  margin: 15px;
  border-radius: 3px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  width: 86px;
}



.icone{
  margin: 15px;
  display: flex;
  color: lightslategray;
  font-size: x-large;
}

.entree{
  visibility: hidden;
  opacity: 0;
  animation-name: open-menu;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}


.plats {
  visibility: hidden;
  opacity: 0;
  animation-name: open-menu;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}


.desserts {
  visibility: hidden;
  opacity: 0;
  animation-name: open-menu;
  animation-delay: 3.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.entree,.plats,.desserts{
  width: 95%;
  height: 100%;
}

/*images*/

.resto_image-acceuil-palette{
  background-image: url(../images/restaurants/lapalettedugout.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 370px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
    

.resto_image-acceuil-noteenchantee{
  background-image: url(../images/restaurants/lanoteenchantee.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 370px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.resto_image-acceuil-alafrancaise{
  background-image: url(../images/restaurants/alafrancaise.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 370px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

}
  
.resto_image-acceuil-ledelicedessens{
  background-image: url(../images/restaurants/ledelicedessens.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 370px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}