

@media screen and (min-width: 810px) {

    .menu__button{
      width: 30%;
    
    }
    .resto_1{
      margin-right: 35px;
    }
    .resto_h2{
      padding-top: 25px;
    
    }
    .resto_1_card{
      height: 340px;
    }
    
    .resto{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      height: 900px;
      flex-wrap: wrap;
      width: 100%;
      
    }
    
    .resto_news{
      width: 30%;
    }

    .container-manual{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 900px;
      flex-direction: column;
  }
    .manual{
      display: flex;
      flex-direction: row;
      margin-left: 50px;
      margin-right: 50px;
    }
    ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .manual-text{
      font-size: small;
    }
  
  .footer_h2{
    font-size: 30px;
    padding-top: 20px;
    
  }
  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

  @media(max-width: 810px){
    
    .manual{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    
    .resto_h2 {
      padding-top: 50px;
      margin: 50px 0px 15px 20px;
    }

    .resto_news{
      width: 15%;
    }
  
    .header_explorer{
      width: 45%;
    }
    .intro p{
      font-size: 13px;
    }

    h1{
      font-size: 23px;
    }

    .header p{
      font-size: 20px;
    }
  
    .header_titre{
    font-size: 31px;
    font-family: 'roboto','sans-sherif';
    }
    .carte{
      width: 100%;
    }

    .footer_h2{
      padding-left: 50px;
    }
  }