    .carte{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:$background-carte;
}
/*.logo{
  @include primary-font;
  display: flex;
  justify-content: center;
  flex-direction: column;
}*/

.logo-page{
  display: flex;
  justify-content: center;
}
.img-logo {
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu{
  display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: lightgrey;
}

.menu-choix{
    display: flex;
    border-radius: 10px;
    background-color: white;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;

}

.menu_choix_plat_noms{
    font-weight: bold;
    font-size: 15px;
}


.menu__button{
    background-color: $color-primary;
    color: $background-carte;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border:none;
    margin-left: 85px;
    height: 30px;
}

.footer-container{ 
    background-color: #353535;
      
      & ul{
        list-style-type: none;
        margin: 10px;
        padding: 10px;
      
    }

  }
    
  .footer__ul--a{
    color: $background-carte;
    text-decoration: none;
  }
  .footer__h2{
    color: $background-carte;
    margin: 15px;
    padding: 10px;
  }

  .resto_image-alafrancaise{
    background-image: url(../images/restaurants/alafrancaise.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  
  }

  .resto_image-palette{
    background-image: url(../images/restaurants/lapalettedugout.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }

  .resto_image-noteenchantee{
    background-image: url(../images/restaurants/lanoteenchantee.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
      
  .resto_image-ledelicedessens{
    background-image: url(../images/restaurants/ledelicedessens.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
    